<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="app">
        <meta name="author" content="Ivo Lima da Silva">

        <title>Groupfinder</title>

        <!-- Bootstrap Core CSS -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="assets/css/stylish-portfolio.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header id="top" class="header">
            <div class="github-text">
                <a href="https://github.com/IvoLimaSilva/groupfinder" target="_blank">
                    Project in Github
                </a>
                &nbsp;
                <span class="fa fa-github"></span>
            </div>
            <div class="text-vertical-center">
                <h1>Group Finder</h1>
                <h3>Tinder based app for finding groups inside MIEIC</h3>
                <br>
                <a href="<%= button_href %>" class="btn btn-dark btn-lg">
                    <%= button_label %>
                </a>
            </div>
        </header>
    </body>
</html>