<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Tutorial</h4>
                </div>
                <hr>
                <div class="content">
                    <ol>
                        <li>
                            Go to <strong>Settings</strong> and complete your profile. It's better if you upload square images. If you enroll a class without completing your profile, the information saved on that class will not contain your links or photo.
                        </li>
                        <hr>
                        <li>
                            After completing your profile, head to <strong>Classes</strong> so you can choose what classes you're looking for students.
                        </li>
                        <hr>
                        <li>
                            Now you can go to <strong>Find Students</strong> and look up the students in the same classes as you. Here you can <strong>accept</strong> or <strong>deny</strong> whatever students you want.
                        </li>
                        <hr>
                        <li>
                            Now, you can check your history in <strong>Students</strong> and delete any if you want. You can also see the students who <strong>accepted</strong> you!
                        </li>
                    </ol>
                    <hr>
                    <div class="footer">
                        Remember, you can always contact students on Facebook, Github or via e-mail (as long as they completed their profile).
                        Any <strong>bugs</strong> or <strong>errors</strong>, please inform me <a href="https://github.com/IvoLimaSilva/groupfinder/issues" target="_blank">here</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
