<!DOCTYPE HTML>
<html ng-app="auth">

<head>
    <meta charset="UTF-8">
    <title>GroupFinder Auth</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-cookies.js"></script>

    <script src="app/app.js"></script>

    <script src="app/controllers/loginCtrl.js"></script>
    <script src="app/controllers/registerCtrl.js"></script>

    <script src="app/services/userServices.js"></script>

    <base href="/auth/">

    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>

<!--body>
        #auth
        <div ng-view></div>
    </body-->

<body>

    <div class="wrapper">

        <div class="main-panel">

            <div class="content">
                <div class="container-fluid">

                    <div class="row vertical-center">
                        <div class="col-md-6 col-md-offset-3" ng-view>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy; 2015 <a href="https://github.com/IvoLimaSilva" target="_blank">Ivo Lima da Silva</a> <span class="fa fa-github"></span>
                    </p>
                </div>
            </footer>

        </div>
    </div>


</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

</html>
